.container{
    margin: auto;
    display: flex;
    width: 20%;
    justify-content: center;
}
@media (max-width: 768px) {
    .container{
      display: none;
    }
  }

.li{
    list-style: none;
    margin-left: 5px;
    
}

.paginateMovil{
    display: none;
}
@media (max-width: 768px) {
    .paginateMovil{
      display: flex;
      align-items: center;
    }
  }
 

.btn{
    background-color: var(--fdCT);
    border: none;
    height: 17px;
}  



.icon{
    color: var(--flC);
}

.iconStop{
    color: var(--alert);
}


.pages{
    color: var(--flC);
}