.container{
    background-color: var(--fdC);
    height: 815px;
    padding-top: 70px;
    padding-bottom: 50px;
}
@media (max-width: 768px) {
  .container{
    height: 100vh;
  }
}

.subContainer{
  margin: auto;
  background-color: var(--lC);
  height: fit-content;
  width: 60%;
  box-shadow: var(--innerShadow);
  border-radius: var(--radius);
  padding-top: 20px;
 padding-bottom: 50px;
}
@media (max-width: 768px) {
  .subContainer{
    width: 90vw;
  }
}

.contTitle{
  background-color: var(--fdC);
 width: 30%;
 height: 50px;
 border-radius: var(--radius);
 margin-left: 35%;
 margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contTitle{
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    padding: 1px 20px;
    padding-bottom: 5px;

  }
}

.h1{
    text-align: center;
    color: var(--flC);
}
@media (max-width: 768px) {
  .h1{
   font-size: 20px;

  }
}

.contContImg{
  background-color: var(--fdC);
  box-shadow: var(--shadowBox);
  border-radius: var(--radius);
  height: 70%;
  width: 90%;
  padding: auto;
  padding-top: 35px;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 20px;
}

.contImg {
  background-color: var(--flC);
  width: 85%;
  max-height: fit-content;
  min-height: min-content;
  margin: auto;
  border-radius: var(--radius);
  box-shadow: var(--innerShadow);
}

.img {
  width: 90%;
  margin: 20px 5% 20px 5%;
  border-radius: var(--radius);
  box-shadow: var(--shadowBox);
}

.btn {
  background-color: var(--fdC);
  display: block;
  margin: auto;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  color: var(--flC);
  border: none;
  box-shadow: var(--shadowBoxBtn);
}

.btn:hover {
  background-color: var(--success);
  box-shadow:  0px 0px 2px
  rgba(0, 0, 0, 0.7) ;
  font-size: 12.5px;
}
