.container{
   margin: auto;
   margin-top: 130px;
    background-color: var(--flC);
    box-shadow: var(--innerShadow);
    border-radius: var(--radius);
    min-height: 700px;
    max-height: max-content;
   width: 70%;
   padding: 20px;
   
}
@media (max-width: 768px) {
    .container{
        margin-top: 100px;
       padding: 20px;
    }
  }

.subContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.contTitle{
    background-color: var(--fdC);
    box-shadow: var(--shadowBox);
    border-radius: var(--radius);
    width: 300px;
    height: 60px;
    text-align: center;
    
}

.title{
    color: var(--flC);
    margin-top: 5px;
}

.contAddTitle{
    background-color: var(--flC);
    border-radius: var(--radius);
    box-shadow: inset 3px 3px 2px
    rgba(0, 0, 0, 0.7) ;
    width: 220px;
    height: 70px;
  position: absolute;
  left: 30px;
  top: 20px;
 text-align: center;
}
@media (max-width: 768px) {
    .contAddTitle{
       left: 17px;
    }
  }

.titleAdd{
    color: var(--fdC);
    font-weight: 600;
    font-size: 35px;
    margin-top: 11px;
}

.add{
    background-color: var(--lC);
    box-shadow: var(--shadowBox);
    border-radius: var(--radius);
    width: 400px;
    height: 150px;
  position: relative;
  border: 2px solid var(--lC);
}
@media (max-width: 768px) {
    .add{
        margin-top: 50px;
      width: 70vw;
    }
  }

.add:hover{
    box-shadow:  6px 6px 3px
    rgba(0, 0, 0, 0.5) ;
    border: 2px solid var(--success);
    transition-duration: var(--duration);
}


.icon{
    color: var(--fdC);
    font-size: 100px;
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.icon:hover{
    color: var(--success);
    transition-duration: var(--duration);
}
@media (max-width: 768px) {
    .icon{
        font-size: 30px;
    }
  }
