.container{
    margin: 50px;
}
@media (max-width: 768px) {
    .container{
        margin-bottom: 130px;
    }
  }


.display{
    background-color: var(--flC);
    width: 200px;
    height: 270px;
    border-radius: var(--radius);
    box-shadow: var(--innerShadow);
   padding: 10px;
   margin-bottom: 20px;
}

