.container{
    margin: auto;
    margin-top: 150px;
    background-color: var(--flC);
    box-shadow: var(--innerShadow);
    border-radius: var(--radius);
    min-height: 730px;
    max-height: fit-content;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
}
@media (max-width: 768px) {
    .container{
      width: 90%;
    }
  }

.flexOne{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contFlagCont{
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 40px;
    background-color: var(--lC);
    box-shadow: var(--innerShadow);
    border-radius: var(--radius);
    width: 390px;
    height: max-content;
    text-align: center;
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .contFlagCont{
      width: 60%;
    }
  }



.contFlag{
margin-top: 14px;
margin-left: 20px;
    background-color: var(--lC);
    box-shadow: var(--shadowBox);
    border-radius: var(--radius);
    width: max-content;
    text-align: center;
}
@media (max-width: 768px) {
    .contFlag{
      width: 85%;
    }
  }

.flag{
    width: 350px;
    box-direction: 3px solid red;
    border-radius: var(--radius);
}
@media (max-width: 768px) {
    .flag{
      width: 100%;
    }
  }

.contName{
    background-color: var(--fdC);
    color: var(--lC);
    box-shadow: var(--shadowBox);
    border-radius: var(--radius);
    width: 400px;
    height: max-content;
    text-align: center;
    margin-top: 120px;
    margin-left: 25px;
}
@media (max-width: 768px) {
    .contName{
      width: fit-content;
      padding: 10px;
    }
}

.title{
    color: var(--flC);
}
@media (max-width: 768px) {
    .title{
      font-size: 25px;
    }
}

.flexTwo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerCont{
    background-color: var(--lC);
    box-shadow: var(--shadowBox);
    border-radius: var(--radius);
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 25px;
}

.contList{
    background-color: var(--lC);
    box-shadow: var(--innerShadow);
    border-radius: var(--radius);
    width: 500px;
    min-height: 300px;
    max-height: fit-content;
    margin-top: 60px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.data{
    font-weight: bold;
    color: var(--fdC);
}

.p{
    font-weight: 500;
    color: var(--dC);
}

.span{
    color: var(--dC);
    font-weight: 400;
}

.keyCont{
    margin-left: 115px;
    background-color: var(--flC);
    box-shadow: var(--innerShadowBtn);
    width: 70px;
    height: 35px;
    border-radius: 7px;
}

/* .key{
    

} */